Hello this is the Heading bar.

<br>
<a routerLink="directive" routerLinkActive="activeClassDirective" [routerLinkActiveOptions]="{exact:true}">
    Click me to show directive component
</a>
<br>
<a routerLink="parent" routerLinkActive="activeClassParent">
    Click me to Show Parent Component
</a>
<br>
<a [routerLink]="['route', id]">
    Click me to Show Route Component
</a>
<input [(ngModel)]="id">

<br>

<a routerLink="form/template" routerLinkActive="activeClassParent">
    Click me to Show template driven forms Component
</a>
<br>

<a routerLink="form/reactive" routerLinkActive="activeClassParent">
    Click me to Show Reactive forms Component
</a>
<br>

<a routerLink="form/reactive2" routerLinkActive="activeClassParent" >
    Click me to Show Reactive forms Component using form builder
</a>
<br>

<a routerLink="pipe"  >
    Click me to Show Pipe Component
</a>
<br>

<div class="component">
    <router-outlet></router-outlet>
</div>
